## 데이터 전처리
공공자전거 csv 파일을 정제한다.

In [5]:
# console 실행하는 명령어는 !
!pip install pandas

WARNING: You are using pip version 19.2.3, however version 20.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\users\student\appdata\local\programs\python\python37\lib\site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\student\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\student\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\student\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\student\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [2]:
import pandas as pd

In [40]:
df1 = pd.read_csv('./rent_address.csv', encoding='cp949')
df1

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43,14
3,마포구,104.0,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44,13
4,마포구,105.0,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45,5
...,...,...,...,...,...,...,...,...
1536,관악구,2185.0,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019.09.26,10
1537,서초구,2265.0,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16,10
1538,종로구,465.0,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019.11.20,5
1539,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10
1540,합계,NaN,1540,NaN,NaN,NaN,NaN,"19,545"

In [7]:
df1.to_csv('hi.csv')

In [32]:
df1 = df1.dropna()
df1

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43,14
3,마포구,104.0,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44,13
4,마포구,105.0,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45,5
...,...,...,...,...,...,...,...,...
1535,종로구,464.0,삼청동 골목,종로구 팔판길 46,37.584190,126.981697,2019.08.16,10
1536,관악구,2185.0,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019.09.26,10
1537,서초구,2265.0,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16,10
1538,종로구,465.0,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019.11.20,5
1539,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10

In [3]:
df2 = pd.read_csv('./rent_return.csv', encoding='cp949')

In [4]:
df2 = df2.dropna()
df2

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-04392,2019-11-28 23:07,2377,수서역 5번출구 뒤,9,2019-11-28 23:18,1203,밀리아나2빌딩 앞,5,11,1980
1,SPB-23502,2019-11-28 22:43,2613,잠실나들목,3,2019-11-29 0:07,1203,밀리아나2빌딩 앞,1,82,11130
2,SPB-11498,2019-11-29 0:04,1256,문정현대아파트 교차로,6,2019-11-29 0:11,1203,밀리아나2빌딩 앞,14,6,800
3,SPB-16665,2019-11-29 0:02,1278,송파구청 교차로,9,2019-11-29 0:21,1203,밀리아나2빌딩 앞,2,18,3730
4,SPB-14688,2019-11-29 0:17,1230,송파중학교 정문,5,2019-11-29 0:26,1203,밀리아나2빌딩 앞,3,9,1370
...,...,...,...,...,...,...,...,...,...,...,...
678825,SPB-07983,2019-11-26 8:27,2183,동방1교,2,2019-11-26 9:31,99999,영남단말기정비,5,59,8520
678826,SPB-24906,2019-11-27 8:26,2141,미림여고입구 교차로,2,2019-11-27 9:26,99999,영남단말기정비,5,59,8680
678827,SPB-17861,2019-11-28 8:11,2183,동방1교,4,2019-11-28 8:54,99999,영남단말기정비,5,40,10570
678828,SPB-17173,2019-11-29 8:12,2183,동방1교,1,2019-11-29 9:17,99999,영남단말기정비,5,64,10560
678829,SPB-17714,2019-11-29 11:47,99999,영남단말기정비,5,2019-11-29 13:04,99999,영남단말기정비,5,76,2420

In [13]:
df2['대여 대여소번호']

0          2377
1          2613
2          1256
3          1278
4          1230
          ...
678825     2183
678826     2141
678827     2183
678828     2183
678829    99999
Name: 대여 대여소번호, Length: 678830, dtype: int64

In [20]:
int(df1.loc[0, '대여소ID'])

101

In [35]:
df1['대여소ID'].apply(int)

0        101
1        102
2        103
3        104
4        105
        ...
1535     464
1536    2185
1537    2265
1538     465
1539     664
Name: 대여소ID, Length: 1540, dtype: int64

In [5]:
df2['대여 대여소번호'].apply(int)
df2

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-04392,2019-11-28 23:07,2377,수서역 5번출구 뒤,9,2019-11-28 23:18,1203,밀리아나2빌딩 앞,5,11,1980
1,SPB-23502,2019-11-28 22:43,2613,잠실나들목,3,2019-11-29 0:07,1203,밀리아나2빌딩 앞,1,82,11130
2,SPB-11498,2019-11-29 0:04,1256,문정현대아파트 교차로,6,2019-11-29 0:11,1203,밀리아나2빌딩 앞,14,6,800
3,SPB-16665,2019-11-29 0:02,1278,송파구청 교차로,9,2019-11-29 0:21,1203,밀리아나2빌딩 앞,2,18,3730
4,SPB-14688,2019-11-29 0:17,1230,송파중학교 정문,5,2019-11-29 0:26,1203,밀리아나2빌딩 앞,3,9,1370
...,...,...,...,...,...,...,...,...,...,...,...
678825,SPB-07983,2019-11-26 8:27,2183,동방1교,2,2019-11-26 9:31,99999,영남단말기정비,5,59,8520
678826,SPB-24906,2019-11-27 8:26,2141,미림여고입구 교차로,2,2019-11-27 9:26,99999,영남단말기정비,5,59,8680
678827,SPB-17861,2019-11-28 8:11,2183,동방1교,4,2019-11-28 8:54,99999,영남단말기정비,5,40,10570
678828,SPB-17173,2019-11-29 8:12,2183,동방1교,1,2019-11-29 9:17,99999,영남단말기정비,5,64,10560
678829,SPB-17714,2019-11-29 11:47,99999,영남단말기정비,5,2019-11-29 13:04,99999,영남단말기정비,5,76,2420

In [41]:
df_address = df1.loc[:,['대여소_구','대여소ID','대여소명','대여소주소','거치대수']]
df_address = df_address.sort_values(by='대여소ID', ascending=True)
df_

     대여소_구   대여소ID              대여소명               대여소주소      거치대수
0      마포구   101.0  101. (구)합정동 주민센터  서울특별시 마포구 동교로8길 58         5
1      마포구   102.0   102. 망원역 1번출구 앞   서울특별시 마포구 월드컵로 72        20
2      마포구   103.0   103. 망원역 2번출구 앞   서울특별시 마포구 월드컵로 79        14
3      마포구   104.0   104. 합정역 1번출구 앞    서울특별시 마포구 양화로 59        13
4      마포구   105.0   105. 합정역 5번출구 앞    서울특별시 마포구 양화로 48         5
...    ...     ...               ...                 ...       ...
1517   성동구  3538.0          서울숲 IT캐슬    성동구 성수동1가 671-41        14
1518   강동구  3539.0              서원마을           암사동 117-3        10
1519   광진구  3541.0            커먼그라운드         광진구 자양동 8-6        17
1520   광진구  3542.0      래미안 구의파크 스위트      광진구 구의동 229-23        17
1540    합계     NaN              1540                 NaN   19,545

[1541 rows x 5 columns]

In [39]:
df2.columns

Index(['자전거번호', '대여일시', '대여 대여소번호', '대여 대여소명', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소명', '반납거치대', '이용시간', '이용거리'],
      dtype='object')

In [6]:
import numpy as np

In [7]:
df2 = df2.sort_values(by=['대여 대여소번호', '대여일시'], ascending=True)
df2

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
635074,SPB-07827,2019-11-01 1:38,101,(구)합정동 주민센터,1,2019-11-01 3:36,3508,화양사거리,6,109,20020
394875,SPB-08747,2019-11-02 1:50,101,(구)합정동 주민센터,5,2019-11-02 2:30,2016,신대방삼거리역 3번출구쪽,5,40,8920
38304,SPB-23976,2019-11-04 19:57,101,(구)합정동 주민센터,3,2019-11-04 21:21,1231,잠실역 6번출구,1,81,63150
530962,SPB-14571,2019-11-05 10:01,101,(구)합정동 주민센터,1,2019-11-05 10:11,2307,압구정 한양 3차 아파트,6,9,2280
395286,SPB-16380,2019-11-09 1:31,101,(구)합정동 주민센터,1,2019-11-09 2:14,2016,신대방삼거리역 3번출구쪽,5,42,8890
...,...,...,...,...,...,...,...,...,...,...,...
678822,SPB-23322,2019-11-20 9:52,99999,영남단말기정비,2,2019-11-20 9:55,99999,영남단말기정비,2,3,0
678824,SPB-03512,2019-11-25 10:26,99999,영남단말기정비,5,2019-11-25 10:44,99999,영남단말기정비,5,17,0
468225,SPB-17550,2019-11-25 17:46,99999,영남단말기정비,5,2019-11-25 18:45,2183,동방1교,1,58,10270
468434,SPB-20796,2019-11-27 17:50,99999,영남단말기정비,5,2019-11-27 18:40,2183,동방1교,2,49,10450
678829,SPB-17714,2019-11-29 11:47,99999,영남단말기정비,5,2019-11-29 13:04,99999,영남단말기정비,5,76,2420

In [18]:
df_rent = df2.loc[:,['대여일시','대여 대여소번호','대여 대여소명']]
df_rent.rename(columns={"대여일시":"renttime"}, inplace=True)
df_rent.rename(columns={"대여 대여소번호":"stationnum"}, inplace=True)
df_rent.rename(columns={"대여 대여소명":"stationname"}, inplace=True)
df_rent.to_csv('df_rent.csv')

In [19]:
df_return = df2.loc[:,['반납일시','반납대여소번호','반납대여소명']]
df_return = df_return.sort_values(by=['반납대여소번호','반납일시'], ascending=True)
df_return.rename(columns={"반납일시":"recedetime"}, inplace=True)
df_return.rename(columns={"반납대여소번호":"restationnum"}, inplace=True)
df_return.rename(columns={"반납대여소명":"restationname"}, inplace=True)
df_return.to_csv('df_return.csv')

In [42]:
df_address
df_split = df_address['대여소명'].str.split('(.\s)')
df_split

0          [101, . , (구)합정, 동 , 주민센터]
1       [102, . , 망원, 역 , 1번출, 구 , 앞]
2       [103, . , 망원, 역 , 2번출, 구 , 앞]
3       [104, . , 합정, 역 , 1번출, 구 , 앞]
4       [105, . , 합정, 역 , 5번출, 구 , 앞]
                    ...
1517                   [서울, 숲 , IT캐슬]
1518                           [서원마을]
1519                         [커먼그라운드]
1520           [래미, 안 , 구의파, 크 , 스위트]
1540                           [1540]
Name: 대여소명, Length: 1541, dtype: object

In [88]:
df.loc[0, '대여소명']

'101. (구)합정동 주민센터'

In [77]:
s = '101. (구)합정동 주민센터'

In [100]:
import re
regex = re.compile('^\d+\.')

In [45]:
import re
regex = re.compile('^\d+\.')
df_address['대여소명'] = df_address['대여소명'].apply(lambda s: regex.split(s)[-1].strip())

In [46]:
df_address

     대여소_구   대여소ID          대여소명               대여소주소      거치대수
0      마포구   101.0   (구)합정동 주민센터  서울특별시 마포구 동교로8길 58         5
1      마포구   102.0    망원역 1번출구 앞   서울특별시 마포구 월드컵로 72        20
2      마포구   103.0    망원역 2번출구 앞   서울특별시 마포구 월드컵로 79        14
3      마포구   104.0    합정역 1번출구 앞    서울특별시 마포구 양화로 59        13
4      마포구   105.0    합정역 5번출구 앞    서울특별시 마포구 양화로 48         5
...    ...     ...           ...                 ...       ...
1517   성동구  3538.0      서울숲 IT캐슬    성동구 성수동1가 671-41        14
1518   강동구  3539.0          서원마을           암사동 117-3        10
1519   광진구  3541.0        커먼그라운드         광진구 자양동 8-6        17
1520   광진구  3542.0  래미안 구의파크 스위트      광진구 구의동 229-23        17
1540    합계     NaN          1540                 NaN   19,545

[1541 rows x 5 columns]

In [99]:
regex.split(s)[-1].strip()

NameError: name 'regex' is not defined

In [38]:
df_rent['날짜'] = df_rent['대여일시'].apply(lambda x: x.split()[0])
df_rent['대여년도'] = df_rent['날짜'].apply(lambda x: x.split('-')[0])
df_rent['대여월'] = df_rent['날짜'].apply(lambda x: x.split('-')[1])
df_rent['대여일'] = df_rent['날짜'].apply(lambda x: x.split('-')[2])
df_rent['시간'] = df_rent['대여일시'].apply(lambda x: x.split()[1])
df_rent['대여시간'] = df_rent['시간'].apply(lambda x: x.split(':')[0])
df_rent = df_rent.loc[:,['대여 대여소번호', '대여 대여소명', '대여년도', '대여월', '대여일', '대여시간']]

In [39]:
df_rent

        대여 대여소번호      대여 대여소명  대여년도 대여월 대여일 대여시간
0           2377   수서역 5번출구 뒤  2019  11  28   23
1           2613        잠실나들목  2019  11  28   22
2           1256  문정현대아파트 교차로  2019  11  29    0
3           1278     송파구청 교차로  2019  11  29    0
4           1230     송파중학교 정문  2019  11  29    0
...          ...          ...   ...  ..  ..  ...
678825      2183         동방1교  2019  11  26    8
678826      2141   미림여고입구 교차로  2019  11  27    8
678827      2183         동방1교  2019  11  28    8
678828      2183         동방1교  2019  11  29    8
678829     99999      영남단말기정비  2019  11  29   11

[678830 rows x 6 columns]

In [43]:
df_return['날짜'] = df_return['반납일시'].apply(lambda x: x.split()[0])
df_return['반납년도'] = df_return['날짜'].apply(lambda x: x.split('-')[0])
df_return['반납월'] = df_return['날짜'].apply(lambda x: x.split('-')[1])
df_return['반납일'] = df_return['날짜'].apply(lambda x: x.split('-')[2])
df_return['시간'] = df_return['반납일시'].apply(lambda x: x.split()[1])
df_return['반납시간'] = df_return['시간'].apply(lambda x: x.split(':')[0])
df_return = df_return.loc[:,['반납대여소번호', '반납대여소명', '반납년도', '반납월', '반납일', '반납시간']]
df_return

        반납대여소번호     반납대여소명  반납년도 반납월 반납일 반납시간
0          1203  밀리아나2빌딩 앞  2019  11  28   23
1          1203  밀리아나2빌딩 앞  2019  11  29    0
2          1203  밀리아나2빌딩 앞  2019  11  29    0
3          1203  밀리아나2빌딩 앞  2019  11  29    0
4          1203  밀리아나2빌딩 앞  2019  11  29    0
...         ...        ...   ...  ..  ..  ...
678825    99999    영남단말기정비  2019  11  26    9
678826    99999    영남단말기정비  2019  11  27    9
678827    99999    영남단말기정비  2019  11  28    8
678829    99999    영남단말기정비  2019  11  29   13
678828    99999    영남단말기정비  2019  11  29    9

[678830 rows x 6 columns]

In [11]:
df_address_trans = df1.loc[:,'대여소주소']
df_address_trans.to_csv('address.csv', encoding='cp949')

In [47]:
df_address

     대여소_구   대여소ID          대여소명               대여소주소      거치대수
0      마포구   101.0   (구)합정동 주민센터  서울특별시 마포구 동교로8길 58         5
1      마포구   102.0    망원역 1번출구 앞   서울특별시 마포구 월드컵로 72        20
2      마포구   103.0    망원역 2번출구 앞   서울특별시 마포구 월드컵로 79        14
3      마포구   104.0    합정역 1번출구 앞    서울특별시 마포구 양화로 59        13
4      마포구   105.0    합정역 5번출구 앞    서울특별시 마포구 양화로 48         5
...    ...     ...           ...                 ...       ...
1517   성동구  3538.0      서울숲 IT캐슬    성동구 성수동1가 671-41        14
1518   강동구  3539.0          서원마을           암사동 117-3        10
1519   광진구  3541.0        커먼그라운드         광진구 자양동 8-6        17
1520   광진구  3542.0  래미안 구의파크 스위트      광진구 구의동 229-23        17
1540    합계     NaN          1540                 NaN   19,545

[1541 rows x 5 columns]

In [49]:
df_address = df_address.dropna()
df_address

     대여소_구   대여소ID            대여소명               대여소주소 거치대수
0      마포구   101.0     (구)합정동 주민센터  서울특별시 마포구 동교로8길 58    5
1      마포구   102.0      망원역 1번출구 앞   서울특별시 마포구 월드컵로 72   20
2      마포구   103.0      망원역 2번출구 앞   서울특별시 마포구 월드컵로 79   14
3      마포구   104.0      합정역 1번출구 앞    서울특별시 마포구 양화로 59   13
4      마포구   105.0      합정역 5번출구 앞    서울특별시 마포구 양화로 48    5
...    ...     ...             ...                 ...  ...
1516   광진구  3537.0  아차산 휴먼시아 아파트 옆        광진구 구의동 40-2   15
1517   성동구  3538.0        서울숲 IT캐슬    성동구 성수동1가 671-41   14
1518   강동구  3539.0            서원마을           암사동 117-3   10
1519   광진구  3541.0          커먼그라운드         광진구 자양동 8-6   17
1520   광진구  3542.0    래미안 구의파크 스위트      광진구 구의동 229-23   17

[1540 rows x 5 columns]

In [52]:
df_address = df_address['대여소ID'].astype('int')
df_address

0        101
1        102
2        103
3        104
4        105
        ...
1516    3537
1517    3538
1518    3539
1519    3541
1520    3542
Name: 대여소ID, Length: 1540, dtype: int32

In [122]:
df1 = pd.read_csv('./rent_address.csv', encoding='cp949')
df1 = df1.dropna()
df1['대여소ID'].apply(int)
df_address = df1.loc[:,['대여소_구','대여소ID','대여소명','대여소주소','거치대수']]
df_address = df_address.sort_values(by='대여소ID', ascending=True)
import re
regex = re.compile('^\d+\.')
df_address['대여소명'] = df_address['대여소명'].apply(lambda s: regex.split(s)[-1].strip())
id = df_address['대여소ID'].astype('int')
df_address['대여소ID']=id
import numpy as np
address = np.where(df_address['대여소주소'].str.startswith(pat='서울특별시'),df_address['대여소주소'].str.split("서울특별시 ").str[1],df_address['대여소주소'])
df_address['대여소주소'] = address
df_address['대여소주소'] = '서울특별시 '+df_address['대여소주소']
df_address.loc[77,'대여소주소'] = '서울특별시 마포구 망원동'
df_address.to_csv('df_address.csv', encoding='cp949')

In [94]:
#lambda라는 익명의 함수 사용하기
def station_name(s):
    return regex.split(s)[-1].strip()
df_address['대여소명'] = df_address['대여소명'].apply(station_name)

df_address['대여소명'] = df_address['대여소명'].apply(lambda s: regex.split(s)[-1].strip())

In [99]:
df_address.loc[77]

대여소_구           마포구
대여소ID           182
대여소명     망원2빗물펌프장 앞
대여소주소           NaN
거치대수             10
Name: 77, dtype: object

In [46]:
df_rent
df_rent.to_csv('rent_info.csv', encoding='cp949')

In [48]:
df_return
df_return.to_csv('return_info', encoding='cp949')

In [30]:
rentals = pd.read_csv('./df_address.csv', encoding='cp949')
import re
regex = re.compile('(\d|-)+$')
rentals['대여소_동'] = rentals['대여소주소'].apply(lambda x: re.sub(regex, '', x.split()[2]))
rentals.info()
df = pd.DataFrame(rentals)
cols=['대여소_구','대여소_동','대여소명','대여소ID', '거치대수']
addlist = df.groupby(['대여소_구','대여소_동','대여소명','대여소ID','거치대수'],as_index=True)[cols].agg(lambda x: list(x)).reset_index(name="new")
del addlist['new']
addlist.rename(columns={"대여소_구":"rentGu"}, inplace=True)
addlist.rename(columns={"대여소_동":"rentDong"}, inplace=True)
addlist.rename(columns={"대여소명":"stationname"}, inplace=True)
addlist.rename(columns={"대여소ID":"stationnum"}, inplace=True)
addlist.rename(columns={"거치대수":"stationvalue"}, inplace=True)
addlist
#addlist.to_csv('addlist.csv')
# temp = addlist[addlist['대여소_구'].isin(['마포구'])]
# print(temp)
# dong = temp[temp['대여소_동']=='개포동']
# print(dong)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1540 non-null   int64
 1   대여소_구       1540 non-null   object
 2   대여소ID       1540 non-null   int64
 3   대여소명        1540 non-null   object
 4   대여소주소       1540 non-null   object
 5   거치대수        1540 non-null   int64
 6   대여소_동       1540 non-null   object
dtypes: int64(3), object(4)
memory usage: 84.3+ KB

     rentGu rentDong             stationname  stationnum  거치대수
0       강남구      개포동       개포1단지아파트 입구(보도육교)        2395    10
1       강남구      개포동                개포동역 사거리        2373    20
2       강남구      개포동  경기여자고등학교 후문 (삼성로3길 입구)        2389    15
3       강남구      개포동   구룡마을 입구(래미안블레스티지 아파트)        2390    10
4       강남구      개포동        구룡사 앞 교차로 (보도육교)        2393    10
...     ...      ...                     ...         ...   ...
1535    중랑구      중화동           (구)신한은행 중랑교지점        1442     8
1536    중랑구      중화동                동일로 지하차도        1404    10
1537    중랑구      중화동                   장안중학교        1429    15
1538    중랑구      중화동           중화빌딩 앞 (동부시장)        1403    15
1539    중랑구      중화동                중화역 2번출구        1433    10

[1540 rows x 5 columns]